certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.19
ImageIO==2.37.4
markdown-it-py==4.2.0
mdurl==0.1.2
msgspec==0.21.1
numpy==2.4.6
pillow==12.3.0
Pygments==2.21.0
requests==2.34.2
rich==14.3.4
tqdm==4.70.0
trimesh==4.12.2
typing_extensions==4.16.0
urllib3==2.7.0
viser==1.1.0
websockets==16.1.1
zstandard==0.25.0
